<%- include('partials/header') %>
<link rel="stylesheet" href="/css/styles.css">

<main>
    <h1><%= title %></h1>
    <p> Welcome to our service project platform! Feel at home and at peace </p>
    <p>We connect volunteers with meaningful opportunities.</p>
</main>

<%- include('partials/footer') %>