<%- include('partials/header') %>
<link rel="stylesheet" href="/css/styles.css">

<main class="signup-page"></main>

    <h1>Create Account</h1>

    <form action="/signup" method="POST">

        <label for="name">Full Name</label>
        <input 
            type="text" 
            id="name" 
            name="name" 
            required
        >

        <label for="email">Email</label>
        <input 
            type="email" 
            id="email" 
            name="email" 
            required
        >

        <label for="password">Password</label>
        <input 
            type="password" 
            id="password" 
            name="password" 
            required
        >

        <button type="submit">Sign Up</button>

    </form>

</main>

<%- include('partials/footer') %>